.job-item-details-page {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  min-height: 100vh;
  background-size: cover;
}
.loader-container-job {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 90%;
}
.success-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.failure-view-image {
  width: 80%;
  width: 250px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .failure-view-image {
    max-width: 350px;
    margin-bottom: 20px;
  }
}
.failure-view-title {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.failure-view-description {
  font-family: 'Roboto';
  font-size: 14px;
  color: #f8fafc;
  font-weight: normal;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .failure-view-title {
    font-size: 24px;
  }
  .failure-view-description {
    font-size: 16px;
  }
}
.failure-view-retry-button {
  height: 36px;
  width: 120px;
  background-color: #4f46e5;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* check and apply */

.job-item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #272727;
  border-radius: 8px;
  margin-bottom: 15px;
}
.job-item-link {
  text-decoration: none;
}
.job-title-rating-section {
  display: flex;
  width: 100%;
  margin: 0;
}
.company-logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .company-logo {
    width: 80px;
    height: 80px;
  }
}
.job-title {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}
.title-rating {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.rating-container {
  display: flex;
  align-items: center;
}
.rating {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 5px;
}
.location-job-type-package {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.location-job-type {
  display: flex;
  align-items: center;
}
.location {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.job-location {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 5px;
}
.job-type {
  display: flex;
  align-items: center;
}
.employment-type {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 5px;
}
.package {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.hr-line {
  border: 1px solid #64748b;
  background-color: #64748b;
  width: 100%;
  border-radius: 5px;
}
.sub-title {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.job-description {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}
.similar-jobs-text {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}
.similar-jobs {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.visit-link-with-sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.link-container {
  display: flex;
  align-items: center;
}
.visit-text {
  font-family: 'Roboto';
  font-size: 14px;
  color: #6366f1;
  font-weight: 400;
}
.skills-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.skill-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 120px;
  margin-bottom: 10px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .skill-item {
    max-width: 250px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
}
.skill-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.skill-name {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.life-at-company-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.life-at-company-image {
  width: 100%;
  max-width: 300px;
}
.life-at-company-description {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: normal;
  align-self: flex-start;
  margin: 0;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .life-at-company-details {
    flex-direction: row;
    justify-content: space-between;
  }
  .life-at-company-image {
    width: 40%;
    max-width: 350px;
  }
}
